body {
    background: #fff;
    color: #222;
    font-family: arial,sans-serif;
    height: 100%;
    margin: 0;
    display: block;
    margin: 8px;
}

input, button {
    -webkit-writing-mode: horizontal-tb !important;
}

.mytext {
	width: 300px;
}

center {
    display: block;
    text-align: -webkit-center;
    justify-content: center;
    justify-items: center;
}

footer {
	padding: 20px;
	text-align: left;
}

a:link {
    color: #181717;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
}

a:visited {
    color: #585858;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
}

a:hover {
    color: hotpink;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
}

a:active {
    color: #585858;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
} 